@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Questrial');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #043B70;
	font-size: 20px;
	font-family: 'Questrial', sans-serif;
}
section, #one {
	padding: 5em 0;
}
h1 {
	text-align: right;
	color: black
	font-family: 'Playfair Display', serif;
	font-size: 75px; 
}
#slogan {
	font-style: italic;
	font-size: 56px;
}
h2 {
	font-style: italic;
}
nav {
    background-color: #D3D3D3;
}

nav a {
    font-family: 'Questrial', sans-serif;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: lightgrey;
}

.hero-image {
    background-image: url(../images/Abbey%202.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0 0;
    height: 90vh;
}

#pastworks {
	border-radius: 100
}