@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Questrial');

body {
	text-align: center;
	color: #043B70;
	font-size: 30px;
	font-family: 'Questrial', sans-serif;
}

h1 {
	text-align: right;
	color: black
	font-family: 'Playfair Display', serif;
	font-size: 75px; 
}

#slogan {
	color: #043B70;
	font-style: italic;
	font-size: 56px;
	font-family: 'Questrial', sans-serif;
}
.important {
	font-style: italic;
}
hr {
	width: 1450px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #D3D3D3;   
}

li {
    font-family: 'Questrial', sans-serif;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

.hero-image {
    background-image: url(../images/Abbey 2.jpg)

    height: 2em

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
	text-align: right;
	color; black;
	position: absolute;
	padding: 35px;
	margin: 5px;
	font-family: 'Playfair Display', serif; 
}

