body {
	text-align: center;
	background: url("images/Abbey 2.jpg");
	background-size: cover;
	color: #043B70;
	font-size: 30px;
	font-family: Arial;
}
h1 {
	color: #639CFF;
	text-align: center;
	font-size: 56px; 
}
#slogan {
	color: #043B70;
	font-style: italic;
	font-size: 40px;
}
.important {
	font-style: italic;
}
hr {
	width: 1450px;
}